*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.task{
    background-color: rgb(103, 175, 241);
    height: 300px;
}
.task-flex{
    text-align: center;
    padding-top: 20px;
}
.task-flex h1{
    color: rgb(43, 40, 40);
    padding-bottom: 20px;
}
.task-flex input{
    width: 200px;
    height: 30px;
}
.task-flex textarea{
    width: 200px;
    height: 50px;
    margin-top: 20px;
}
.task-flex button{
    width: 80px;
    height: 30px;
    margin-top: 20px;
    font-size: 18px;
    background-color: rgb(60, 60, 228);
    color: white;
    border-radius: 20px;
    border: none;
}